@model EnterpriseRegistration.Data.Models.FetchMailLogData

<style type="text/css">
        .Short, .Long {
            cursor:default !important;
        }
        .Long, .LongLink {
            display:none;
        }
        .ShortLink, .LongLink {
            float:right;
            margin:0px 5px;
            cursor:pointer;
            text-decoration:underline;
            color:blue !important;
        }

    </style>
<input id="hfCount" type="hidden" value="@Model.Count" />
<input id="totalPage" type="hidden" value="@Model.TotalPage" />
<table class="bordered table_content">
    <thead>
    <tr>
        <th>
            发件人/操作人
        </th>
        <th  style="width:50%;">
           内容
        </th>
        <th>
           时间
        </th>
         <th>
           关联邮件Id
        </th>
    </tr>
        </thead>
     <tbody>
         @if(Model!=null){
            foreach (var item in Model.logs) {
                <tr class="trMail" >
                    <td>
                        @Html.DisplayFor(modelItem => item.MailUser)
                    </td>
                    <td>
                        <a class="ShortLink" len="@item.LogContext.Length">展示全部↓↓</a>
                        <label class="Short">@Html.Raw(@item.LogContext.Length>50?(@item.LogContext.Substring(0,50)+"..."):@item.LogContext) </label>
                        <label class="Long"> @Html.DisplayFor(modelItem => item.LogContext)</label>
                        <a class="LongLink" len="@item.LogContext.Length">收起全部↑↑</a>
                    </td>
                    <td style="text-align:center;">
                        @Html.DisplayFor(modelItem => item.CreateTime)
                    </td>
                    <td style="text-align:center;">
                        <a class="aMail" aid="@item.RecordID">@Html.DisplayFor(modelItem => item.RecordID)</a>
                    </td>
                </tr>
            }
         }

</tbody>
</table>
<script>

    jQuery(".aMail").click(function (item) {
        if (jQuery(this).attr("aid") != undefined) {
            var id = jQuery(this).attr("aid");
            window.location = '@Url.Action("Index", "MailDetail")?id=' + id;
        }
      })
</script>
